html
  head
    title= title
  body
    ul
        for fileName in fileNames
            li
                a(href='javascript:open("edit?fileName='+encodeURIComponent(encodeURIComponent(fileName))+'","_blank");')=fileName
