html
  head
    style.
      .nav{padding:5px;}
    script.
        var acquireVsCodeApi;
        const vscode = acquireVsCodeApi&&acquireVsCodeApi();

        function myOpen(url,option){
          console.log(url);
          if(vscode){
            vscode.postMessage({
             command: 'open',
              text: url
            });
          }else{
            open(url,option);
          }
                        
          }
    title= title
  body
    - const bmLink=`javascript:(function(){window.location = 'http://127.0.0.1:3999/bm.js?title='+encodeURIComponent(document.title)+'&link='+encodeURIComponent(location.href);})();`;
    a(href=bmLink).nav=`Add to Favarite`
    a(href='links').nav=`Links`
    ul
        for fileName in fileNames
            li
                a(onClick='myOpen("edit?fileName='+encodeURIComponent(encodeURIComponent(fileName))+'","_blank");',href="javascript:void(0);")=fileName
