html
  head
    script.
        function myOpen(url,option){
         const vscode = acquireVsCodeApi();
          vscode.postMessage({

          if(window.acquireVsCodeApi){
            vscode.postMessage({
             command: 'open',
              text: url
               })
          }else{
            open(url,option);
          }
                                  command: 'alert',
                                  text: '🐛  on line ' + count
                              })
          }
    title= title
  body
    ul
        for fileName in fileNames
            li
                a(href='javascript:myOpen("edit?fileName='+encodeURIComponent(encodeURIComponent(fileName))+'","_blank");')=fileName
