html
  head
    script.
        const vscode = acquireVsCodeApi&&acquireVsCodeApi();

        function myOpen(url,option){
          console.log(url);
          if(vscode){
            vscode.postMessage({
             command: 'open',
              text: url
            });
          }else{
            open(url,option);
          }
                        
          }
    title= title
  body
    ul
        for fileName in fileNames
            li
                a(onClick='myOpen("edit?fileName='+encodeURIComponent(encodeURIComponent(fileName))+'","_blank");',href="javascript:void(0);")=fileName
