html
  head
    title= title
  body
   div
    span still 
    span#time
    - let actUrl = "/act?url="+encodeURIComponent(url);
    span  seconds would redirect to 
    a(href=actUrl) add 
    span or go to 
    a(href=draft_url) drafts

   script.
    var seconds = 3;
    var ts = setInterval(function(){
      seconds = seconds -1;
      document.querySelector('#time').innerText=seconds;
      if(seconds<1){
        clearInterval(ts);
        console.log('redirect');
        window.location =  "/act?url="+encodeURIComponent("!{url}");
      }
    },1000);
    